
export PROJECT_DOMAIN=mydomain.example.com
export AWS_HOSTEDZONE_ID=Z******************R
export YBA_AWS_ACCESS_KEY_ID=A******************6
export YBA_AWS_SECRET_ACCESS_KEY="4**************************************t"
